@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

#root {
  --background-color: #ffffff;
  --text-color: #333333;
  --header-color: #f8f9fa;
  --accent-color: #3ecf8e;
  --outline-color: #3ecf8e4d;
  text-align: center;
  font-family: "Inter", sans-serif;
}

body[data-theme="dark"] {
  --background-color: #1a1b1e;
  --text-color: #ffffff;
  --header-color: #25262b;
  --accent-color: #a0d8ff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 1.5rem 10rem;
  font-family: "Inter", sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mainTitle {
  font-size: 3.2em;
}

.mainTitle {
  font-size: 4em;
  line-height: 1.2;
  margin: 0;
}

.immersive-trailer {
  font-size: 4em;
  color: #3ecf8e;
  margin: 0;
}

.titleStyle {
  margin-bottom: rem(40px);
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
}

.titleStyle p {
  width: 60%;
  color: #bbbbbb;
  font-size: 16px;
}
.trending-header {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
  color: #006239;
  letter-spacing: 0.1em;
  /* text-shadow: -1px -1px 0 var(--outline-color), 1px -1px 0 var(--outline-color),
    -1px 1px 0 var(--outline-color), 1px 1px 0 var(--outline-color);  */
}
.app-container h1 {
  font-size: 10rem; /* Increased font size */
  font-weight: 700;
  color: #3ecf8e4d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  line-height: 1.2;
}

.app-container h1 span {
  color: var(--accent-color);
  transition: color 0.3s ease;
}

/* Existing styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .app-container h1 {
    font-size: 2rem;
    max-width: 90%;
  }
}

.dropZone {
  margin-top: 1000px;
}
