.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.theme-toggle {
  background-color: #006239 !important;
  border: #3ecf8e4d;
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
/* .toprightbutton {
  position: absolute;
  top: 10px;
  right: 10px;
} */
