.wrapper {
  position: relative;
  margin-bottom: rem(30px);
  margin-top: rem(50px);
  border: rem(1px) solid #9c9c9c4d;
  padding: rem(20px);
  border-radius: 20px;
  background-color: #242424;
}

.dropzone {
  border-width: rem(1px);
  padding-bottom: rem(50px);
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
  position: absolute;
  width: rem(250px);
  left: calc(50% - rem(125px));
  bottom: rem(-20px);
}

.white-text {
  color: white !important; 
}
